<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>User Management</h1>	
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<div class="card">
		          <div class="card-header">
		            <h4>Edit Data User
		            </h4>
		          </div>
		          <div class="card-body">
		            <form method="POST" action="/users/update/{{user.id}}" method="POST">
		            <div class="form-group">
		              <label>Name</label>
		              <input type="text" class="form-control" placeholder="Name" id="name" name="name" required value="{{ user.name }}">
		            </div>
		            <div class="form-group">
		              <label>Email</label>
		              <input type="email" class="form-control" placeholder="Email" id="email" name="email" required value="{{ user.email }}">
		            </div>
		            <div class="form-group">
		              <button type="submit" id="submit" class="btn btn-primary btn-md pull-right">
		                <i class="fas fa-save"></i> Save
		              </button>
		            </div>
		            </form>
		          </div>
		        </div>
		      </div>
			</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>